<section class="container pedidos-card">
    <div class="card-abas-container">
        <div class="card-abas">
            {{> abas }}
            <div class="card-abas-content">
                {{!-- mensagens de envio --}}
                {{#if data.message}}
                    {{> system-message }}
                {{/if}}
                <!-- formulário de login administrador -->
                <form action="" method="post">
                    {{!-- Informações --}}
                    <div class="form-section">
                        <div class="form-section-title">Informações contato</div>
                        {{!-- email --}}
                        <fieldset>
                            <input type="text" name="email" id="email" required>
                            <label> E-mail* </label>
                        </fieldset>
                        {{!-- beneficiado e CIM --}}
                        <div class="fieldset-group"> 
                            <fieldset> {{!-- beneficiado --}}
                                <input type="text" name="beneficiado" id="beneficiado" required>
                                <label> Nome do beneficiado* </label>
                            </fieldset>                             
                            <fieldset> {{!-- CIM --}}
                                <input type="number" name="cim" id="cim" required>
                                <label> CIM* </label>
                            </fieldset> 
                        </div>   
                        {{!-- select loja--}}
                        <fieldset>
                            <select name="loja" id="loja" required class="js-select2" data-placeholder="Seleciona uma loja">
                                <option></option>
                                {{#each data.lojas}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <label>Loja*</label>
                        </fieldset>      
                        {{!-- venerável --}}
                        <fieldset>
                            <input type="text" name="veneravel" id="veneravel" required>
                            <label> Nome do venerável* </label>
                        </fieldset> 
                    </div>

                    {{!-- endereço de entrega --}}
                    <div class="form-section">
                        <div class="form-section-title">Endereço de entrega</div>
                        {{!-- CEP --}}
                        <fieldset>
                            <input type="text" name="cep" id="cep">
                            <label>CEP*</label>
                        </fieldset>
                        {{!-- endereço --}}
                        <div class="fieldset-group">
                            <fieldset>
                                <input type="text" name="endereco" id="endereco" required>
                                <label>Endereço*</label>
                            </fieldset>
                            <fieldset>
                                <input type="number" name="numero" id="numero" required>
                                <label>Número*</label>
                            </fieldset>
                        </div>
                        {{!-- cidade e estado --}}
                        <div class="fieldset-group">
                            {{!-- cidade --}}
                            <fieldset>
                                <input type="text" name="cidade" id="cidade" required>
                                <label>Cidade*</label>
                            </fieldset>
                            {{!-- estado --}}
                            <fieldset>
                                <input type="text" name="estado" id="estado" required>
                                <label>Estado*</label>
                            </fieldset>
                        </div>
                    </div>

                    {{!-- informações do pedido --}}
                    <div class="form-section">
                        <div class="form-section-title">Informações do pedido</div>
                        {{!-- select item estoque --}}
                        <fieldset>
                            <select name="medicamento" id="medicamento" required class="js-select2" data-placeholder="Seleciona um medicamento">
                                <option></option>
                                {{#each data.estoque as |value key|}}
                                <option value="{{key}}">{{this.medicamento}}</option>
                                {{/each}}
                            </select>
                            <label>Medicamento*</label>
                        </fieldset>  
                        {{!-- dosagem diária e peridiciodade --}}
                        <div class="fieldset-group">
                            {{!-- dosagem diária --}}
                            <fieldset>
                                <input type="text" name="dosagem" id="dosagem" required>
                                <label>Dosagem diária*</label>
                            </fieldset>
                            {{!-- peridiciodade --}}
                            <fieldset>
                                <input type="number" name="periodo" id="periodo" required>
                                <label>Período (dias)*</label>
                            </fieldset>
                        </div>
                    </div>

                    <button type="submit" class="button-1">Enviar solicitação</button>
                    <p class="info">Ao preencher o formulário você automaticamente concorda com nossa <a href="">politica de privacidade</a> e <a href="">termos de uso</a></p>
                </form>
            </div>
        </div>
        <div class="card-abas-introducao">
            <h1> FORMULÁRIO DE REQUERIMENTO </h1>
            <img src="/images/pedido-illustration.svg" alt="Ilustração representando o pedido de um usuário">
        </div>
    </div>
</section>

<!-- Adicione este script logo antes do fechamento da tag </body> -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const lojas = JSON.parse(`{{{jsonStringify data.lojas}}}`); // Convertendo os dados do Handlebars para JavaScript
        const selectLoja = document.getElementById('loja');
        const inputCEP = document.getElementById('cep');
        const inputEndereco = document.getElementById('endereco');
        const inputNumero = document.getElementById('numero');
        const inputCidade = document.getElementById('cidade');
        const inputEstado = document.getElementById('estado');

        // Adicione um ouvinte de evento de mudança ao selecionar a loja
        selectLoja.addEventListener('change', function () {
            const selectedLojaId = parseInt(this.value); // Obtém o ID da loja selecionada

            // Encontra a loja correspondente pelo ID
            const selectedLoja = lojas.find(loja => loja.id === selectedLojaId);

            // Se a loja existir, preencha os campos de endereço
            if (selectedLoja) {
                inputCEP.value = selectedLoja.cep;
                inputEndereco.value = selectedLoja.endereco;
                inputNumero.value = selectedLoja.numero_endereco;
                inputCidade.value = selectedLoja.cidade;
                inputEstado.value = selectedLoja.estado;
            } else {
                // Se a loja não for encontrada (o que não deve acontecer), limpe os campos
                inputCEP.value = '';
                inputEndereco.value = '';
                inputNumero.value = '';
                inputCidade.value = '';
                inputEstado.value = '';
            }
        });
    });
</script>
