<div class="table-container {{data.tableClass}}">
    {{!-- título, descrições e ações da tabela --}}
    {{#if data.tablePageHeader}}
    <div class="table-header">
        {{!-- titulo e descrição da página --}}
        {{#if data.tablePageHeader.title}}
        <div class="table-header-content">
            <h1>{{data.tablePageHeader.title}}</h1>
            {{#if data.tablePageHeader.description}}
            <p>{{data.tablePageHeader.description}}</p>
            {{/if}}
        </div>
        {{/if}}
        {{!-- filtros e ações da página --}}
        {{#if data.tablePageHeader.tableActions}}
        <div class="table-header-filters">
            {{!-- template de search de termos --}}
            {{#if data.tablePageHeader.tableActions.search}}
            {{> table-search }}
            {{/if}}
        </div>
        {{/if}}
    </div>
    {{/if}}

    {{!-- conteúdo da tabela --}}
    <div class="table-columns">
        {{!-- colunas da tabela --}}
        <ul>
            {{#each data.tableHeaders}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
    </div>
    {{!-- conteúdo dos itens --}}
<div class="table-body">
    {{#each data.tableBody as |item|}}   
    <ul class="table-item">
        {{#each item }}
          <li>{{ this }}</li>
        {{/each}}
        {{#if item.id_pedido}}
          <li><button class="modal-button">Ver Detalhes</button></li>
        {{/if}}
        {{#if item.id}}
          <li><button class="inventory-modal-button">Ver Detalhes</button></li>
        {{/if}}
    </ul>
    {{/each}}
</div>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="modal-content">
        <!-- Aqui vamos inserir o conteúdo do modal dinamicamente -->
    </div>
    <div id="modal-status-select">
        {{!-- <label for="status-select">Novo Status:</label> --}}
        <p><strong>Novo status:</strong></p>
        <select id="status-select" style="margin-bottom: 10px;">
            <option value="EM PREPARAÇÃO">Em Preparação</option>
            <option value="EM ROTA DE ENTREGA">Em Rota de Entrega</option>
            <option value="FINALIZADO COM SUCESSO">Finalizado Com Sucesso</option>
            <option value="ENCERRADO">Encerrado</option>
        </select>
    </div>
    <div id="modal-buttons">
        <button class="button-2">Cancelar Pedido</button>
        <span class="right-buttons">
        <button class="button-3">Imprimir Pedido</button>
        <button class="alterar-status">Alterar Status</button>
        </span>
        {{!-- <br> --}}
    </div>
  </div>
</div>

<script>


document.addEventListener("DOMContentLoaded", function() {
    // Adicione um evento de clique a todos os botões "Ver Detalhes"
    var detailButtons = document.querySelectorAll('.modal-button, .inventory-modal-button');
    detailButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var inventoryActions = this.classList.contains('inventory-modal-button');
            var modalButtonsContainer = document.getElementById('modal-buttons');
            modalButtonsContainer.innerHTML = ''; // Limpar o conteúdo anterior dos botões

            // Exibir ou ocultar o seletor de status com base no tipo de ação
            var statusSelect = document.getElementById('modal-status-select');
            statusSelect.style.display = inventoryActions ? 'none' : 'block';

            // Adicionar botões com base no tipo de ação
            if (inventoryActions) {
                modalButtonsContainer.innerHTML += `
                    <button class="button-2">EXCLUIR</button>
                    <span class="right-buttons">
                    <button class="alterar-status">EDITAR MEDICAMENTO</button>
                    </span>
                `;
            } else {
                modalButtonsContainer.innerHTML += `
                    <button class="button-2">Cancelar Pedido</button>
                    <span class="right-buttons">
                        <button class="button-3">Imprimir Pedido</button>
                        <button class="alterar-status">Alterar Status</button>
                    </span>
                `;
            }

            var rowContent = this.closest('.table-item').cloneNode(true); 
            var buttonToRemove = rowContent.querySelector('.modal-button'); 
            if (buttonToRemove) {
                buttonToRemove.parentNode.removeChild(buttonToRemove); 
            }

            var columnTitles = document.querySelectorAll('.table-columns ul li');
            var modalContentHTML = '';
            columnTitles.forEach(function(title, index) {
                if (title.textContent !== "Ações") {
                    modalContentHTML += '<p><strong>' + title.textContent + ':</strong> ' + rowContent.querySelectorAll('li')[index].textContent + '</p>';
                }
            });

            document.getElementById('modal-content').innerHTML = modalContentHTML;
            document.getElementById('myModal').style.display = 'flex'; 
        });
    });

    // Quando o usuário clicar no botão de fechar (X), feche o modal
    var closeButton = document.querySelector('.close');
    closeButton.addEventListener('click', function() {
      document.getElementById('myModal').style.display = 'none'; 
    });

    // Quando o usuário clicar fora do modal, feche-o
    window.addEventListener('click', function(event) {
      var modal = document.getElementById('myModal');
      if (event.target == modal) {
        modal.style.display = 'none'; 
      }
    });
});



</script>

<style>
  /* Estilos para o modal */
  #modal-buttons {
    margin-top: 20px;
}

.right-buttons {
  float: right;
  margin-left: 20px;
}

/* Estilos para os botões */
.button-2, .button-3, .alterar-status {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-2:hover, .button-3:hover, .alterar-status:hover {
    background-color: #357ae8;
}

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    align-items: center; 
    justify-content: center; 
    list-style-type: none !important;
  }

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px; 
    border-radius: 5px;
  }

#modal-status-select {
  margin: 20px 0 20px 0;
}

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Remover estilo de lista */
  .table-item li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
